
logs/

crash-reports/

.mixin.out/

saves/

usercache.json

journeymap/data/

journeymap/journeymap.log

screenshots/

servers.dat

config/oreexcavation_shapes.json

config/jei/bookmarks.ini

options.txt

optionsof.txt
